<!-- add user -->

<section class="h-max p-5 bg-gray-100 flex justify-center items-center">
  <form
    id="addCustomerForm"
    class="bg-white py-5 px-3 flex flex-col justify-start items-start gap-5"
  >
    <div class="w-full flex items-center justify-between">
      <label for="fullname">Full Name:</label>
      <input
        type="text"
        name="fullname"
        id="fullname"
        class="w-[75%] border outline-none px-2 py-1"
      />
    </div>

    <div class="w-full flex items-center justify-between">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        class="w-[75%] border outline-none px-2 py-1"
      />
    </div>

    <div class="w-full flex flex-row items-center justify-between">
      <label for="ph_number">Mobile Number:</label>
      <input
        type="number"
        name="ph_number"
        id="ph_number"
        class="w-[75%] border outline-none px-2 py-1"
      />
    </div>

    <div class="w-full flex flex-row items-center justify-between">
      <label for="">Gender:</label>
      <div class="flex gap-5 w-[75%]" id="gender">
        <div class="">
          <input type="radio" name="gender" id="Male" value="Male" />
          <label for="male">Male</label>
        </div>
        <div class="">
          <input type="radio" name="gender" id="Female" value="Female" />
          <label for="female">Female</label>
        </div>
        <div class="">
          <input type="radio" name="gender" id="Other" value="Other" />
          <label for="other">Other</label>
        </div>
      </div>
    </div>

    <div class="">
      <p>Address:</p>

      <div class="border-2 px-3 py-5">
        <div class="mt-1 flex items-center justify-between">
          <label for="address_line">Address Line:</label>
          <input
            type="text"
            name="address_line"
            id="address_line"
            class="w-[75%] border outline-none px-2 py-1"
          />
        </div>

        <div class="flex justify-between items-center gap-5 mt-3">
          <div class="flex items-center gap-2">
            <label for="country">Country:</label>
            <select
              name="country"
              id="country"
              class="w-[10rem] border px-2 py-1"
            >
              <option value="">Select...</option>
            </select>
          </div>
          <div class="flex items-center gap-2">
            <label for="state">State:</label>
            <select name="state" id="state" class="w-[10rem] border px-2 py-1">
              <option value="">Select...</option>
            </select>
          </div>
          <div class="flex items-center gap-2">
            <label for="city">City:</label>
            <select name="city" id="city" class="w-[10rem] border px-2 py-1">
              <option value="">Select...</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div
      class="text-white w-full text-center flex items-center justify-around mt-7"
    >
      <button type="reset" class="bg-red-500 text-lg px-4 py-2 rounded">
        Reset
      </button>
      <button
        type="submit"
        class="w-[60%] bg-blue-500 text-lg font-bold px-3 py-2 rounded"
      >
        Submit
      </button>
    </div>
  </form>
</section>
<script type="module" src="/static/js/add_customer.js"></script>
