<nav class="flex justify-between items-center bg-gray-100 pt-5 px-5">
    <h1 class="pb-5 text-2xl font-bold"> <%- title %> </h1>
    <div class="flex flex-row justify-between items-center gap-1">
        <p>Welcome, <span>admin</span></p>
        <i class="fa-solid fa-circle-user"></i>
    </div>
</nav>